* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

/*************HEADER*************/
/*
header {
    width: 100%;
    height: 75px;
    position: fixed;
    padding: 0 20px;
    background-color: $specialRed;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $specialLightGreen;
    h1 {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    nav {
        display: none;
    }
    button {
        display: block;
        height: 45px;
        width: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.leftHeader, .rightHeader {
    display: flex;
    align-items: center;
}

.shoppingCart {
    position: relative;
    i {
        font-size: 1.5rem;
    }
    div {
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        top: -5px;
        left: 30px;
        background-color: #FBF2CF;
        border-radius: 50%;
        @include getCentered;
    }
}

.shoppingCart:hover i {
    color: $specialGreen;
    text-shadow: 1px 1px 2px black;
}

.hamburgerMenu {
    margin-left: 10px;
    span {
        display: block;
        position: relative;
        width: 30px;
        height: 5px;
        background-color: black;
        border-radius: 5px;
    }
}

.hamburgerMenu:hover span {
    background-color: $specialGreen;
    box-shadow: 1px 1px 2px black;
}

.hamburgerMenu span:nth-child(1) {
    top: -5px;
}

.hamburgerMenu span:nth-child(3) {
    top: 5px;
}*/

/*************VARUKORG*************/

.shoppingContainer {
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-top: 4rem;
}
.shoppingLabels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      li {
        color: #111;
        display: inline-block;
        padding: 0.625rem 0;
      }
  }

  .item {
    width: 55%;
  }
  
  .price,
  .quantity,
  .subtotal {
    width: 15%;
  }

  .subtotal {
    text-align: right;
  }
  
  .remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
  }
  
  .remove button {
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
.itemHeading {
    padding-left: 4.375rem;
  }
  
  .basketProduct {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
  }
  
  .productImage {
    width: 35%;
  }

  .productDetails {
    width: 65%;
  }
  

  
  .productDetails {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }