* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}
body{
    background-color: $specialBeige;
}

/*************HEADER*************/

header {
    width: 100%;
    height: 75px;
    position: fixed;
    padding: 0 20px;
    background-color: $specialRed;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $specialLightGreen;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    nav {
        display: none;
    }
    button {
        display: block;
        height: 45px;
        width: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.leftHeader, .rightHeader {
    display: flex;
    align-items: center;
}

.shoppingCart {
    position: relative;
    i {
        font-size: 1.5rem;
    }
    div {
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        top: -5px;
        left: 30px;
        background-color: #FBF2CF;
        border-radius: 50%;
        @include getCentered;
    }
}

.shoppingCart:hover i {
    color: $specialGreen;
    text-shadow: 1px 1px 2px black;
}

.hamburgerMenu {
    margin-left: 10px;
    span {
        display: block;
        position: relative;
        width: 30px;
        height: 5px;
        background-color: black;
        border-radius: 5px;
    }
}

.hamburgerMenu:hover span {
    background-color: $specialGreen;
    box-shadow: 1px 1px 2px black;
}

.hamburgerMenu span:nth-child(1) {
    top: -5px;
}

.hamburgerMenu span:nth-child(3) {
    top: 5px;
}

/*************VARUKORG*************/

.shoppingOpen {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

.shoppingContainer{
  margin: 5rem 0;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #96969633;
}

.shoppingHeader{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingHeading{
  font-size: 2rem;
  font-weight: 700;
}

.shoppingAction{
  font-size: 1rem;
  font-weight: 600;
  color: $specialRed;
  cursor: pointer;
  border-bottom: 1px solid $specialRed;
}

.shoppingCartItems{
  margin: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.shoppingCartHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.shoppingTitle{
  font-size: 1.5rem;
  font-weight: 800;
  color: #202020;
  margin-bottom: 0;
}

.shoppingInfo {
  display: flex;

}
.shoppingAbout{
  height: 100%;
}

.shoppingSubtitle{
  width: 80%;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #909090;
}

.shoppingImage{
  margin-right: 2rem;
}

.shoppingCounter{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.shoppingBtn{
  width: 50px;
  height: 50px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}

.shoppingNumber {
  width: 60px;
  height: 50px;
}

.shoppingRemove{
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: $specialRed;
  cursor: pointer;
}


/*CHECKOUT*/
  .cartCheckout{
    margin: auto auto 2rem auto;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cartTotal{
    width: 100%;
  }

  .cartSubtotal{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
  }

  .cartItems{
    font-size: 1rem;
    font-weight: 500;
    color: #909090;

  }
  .cartTotalAmount{
    font-size: 2rem;
    font-weight: 900;
    color: #202020;
  }

  .checkoutButton{
    margin: 1rem 0;
    width: 90%;
    height: 50px;
    border: 2px solid $specialGreen;
    background: $specialLightGreen;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #202020;
  }

  .checkoutButton:hover {
    background: $specialGreen;
  }

}

/*****SORTERA EFTER*********/

.sortProducts{ 
  h3{
    font-size: 1rem;
    margin: auto;
    width: 90%;
    margin-bottom: 7px;
  }
  ul{
    margin:auto;
    width: 90%;
    padding: 0;
    padding-bottom: 10px;
  li{
    display: inline;
    list-style: none;
    button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }
    i{
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }
}
}

/*************CHECKOUT FORM***********/

.formOrder {
  background-color: $specialBeige;
  position: fixed;
  z-index: -1;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20%;
  overflow: auto;
  

  input {
    margin: 5px 0;
  }

  fieldset {
    margin: 10px 0;
  }
}

.formOrderOpen {
 z-index: 3;
}



/*************PRODUKTKORT*************/

.donuts{
    display: flex;
    flex-direction: column;
  

    .christmasDonuts, .classicDonuts, .limitedDonuts{
        margin: auto;
        width: 90%;
        background-color: $specialGreen;
        margin-top: 10px;
        margin-bottom: 20px;
        box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
        padding-bottom: 30px;
        h1{
            text-align: center;
        }
        .products{
            display: flex;
            flex-wrap: wrap;
        }
        .munk1, .munk2, .munk3, .munk4, .munk5, .munk6, .munk7, .munk8, .munk9, .munk10{
            width: 400px;
            display: flex;
            margin: auto;
            padding: 20px;
            background-color: $specialLightGreen;
            margin-bottom: 10px;
            box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);

            .donutImg{
                width: 50%;
                margin-right: 10px;
                margin-top: 20px;
                img{
                    width: 100%;
                    
                    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
                }
                .donutRating{
                  font-size: 0.9rem;
                  padding-bottom: 5px;
                  padding-top: 5px;
                  color: black;
                  margin-left: 25px;
                  
              }
            }
            .donutInfo{
                width: 50%;
                margin-left: 10px;
                h2{
                    font-size: 1.2rem;
                    text-align: center;
                }
               
               

                
                .plusMinusInput{
          
                  .allAntal, .allSum, .allPrice{
                    font-size: 1.1rem;
                  }
                  .allPrice{
                    margin-right: 65px;
                  }
                  .allAntal{
                    margin-right: 70px;
                  }
                  .allSum{
                    margin-right: 50px;
                  }
                  
                    button{
                        cursor: pointer;
                        height: 30px;
                        width: 35px;
                        border: none;
                        background-color: $specialRed;
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: black;
                        margin-top: 10px;
                        &:hover{
                          box-shadow: 0 3px 15px rgb(0 0 0 / 0.8);
                        }
                    }
                    .minus{
                      margin-left: 40px;
                    }
                    .plus{
                      margin-left: 10px;
                    }
                    }
                    
                }
                
                .addDonutsToCart{
                    background-color: $specialRed;
                    width: 85px;
                    border: none;
                    margin-top: 5px;
                    margin-left: 40px;
                    font-size: 0.9rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 3px;
                    color: black;
                    cursor: pointer;
                    &:hover{
                      box-shadow: 0 3px 15px rgb(0 0 0 / 0.8);
                    }

            }

        }
    }
    .classicDonuts, .limitedDonuts{
        margin-top: 70px;
    }
    
}

/***********FOOTER****************/

footer {
    width: 100%;
    height: 100px;
    background-color: $specialRed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
    border-top: 3px solid $specialLightGreen;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: $specialGreen;
        text-shadow: 1px 1px 2px black;
    }
}