@media screen and (min-width: 600px) {
  .flexForm {
    display: grid;
    grid-template-columns: 50% 50%;

    label {
      flex-basis: 25%;
    }
  }
}

@media screen and (min-width: 768px) {

  .itemsCheckoutWrapper {
    display: flex;
  }

  .itemsContainer {
    width: 60%;
  }
  .checkoutContainer {
    width: 40%;
  }
}
