@import '_normalize.scss';

$specialRed: #FA7070;
$specialBeige: #FBF2CF;
$specialLightGreen: #C6EBC5;
$specialGreen: #A1C298;

@mixin getCentered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import '_base.scss';
@import '_tablet.scss';
@import '_desktop.scss';
