

$specialRed: #FA7070;
$specialBeige: #FBF2CF;
$specialLightGreen: #C6EBC5;
$specialGreen: #A1C298;

@mixin getCentered() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

/*************HEADER*************/

header {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: $specialRed;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $specialLightGreen;
    h1 {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    button {
        display: block;
        height: 45px;
        width: 45px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.leftHeader, .rightHeader {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.shoppingCart {
    position: relative;
    i {
        font-size: 1.5rem;
    }
    div {
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        top: -5px;
        left: 30px;
        background-color: #FBF2CF;
        border-radius: 50%;
        @include getCentered;
    }
}

.hamburgerMenu {
    margin-left: 10px;
    span {
        display: block;
        position: relative;
        width: 30px;
        height: 5px;
        background-color: black;
        border-radius: 5px;
    }
}

.hamburgerMenu span:nth-child(1) {
    top: -5px;
}

.hamburgerMenu span:nth-child(3) {
    top: 5px;
}


